:root {
  --white: #fff;
  --light-black: rgb(27, 26, 26);
  --primary-light-blue: rgb(78, 92, 218);
  --hover-blue: rgb(30, 48, 202);
  --primary-yellow: rgb(255, 237, 75);
  --light-yellow: #fdf7bd;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Work Sans", sans-serif;
}

body {
  line-height: 1.6;
  color: var(--light-black);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  background: url("images/bgm.jpg") no-repeat center center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3 {
  margin: 0.5em 0;
  line-height: 1;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

/* header */
header {
  background-color: rgba(131, 206, 230, 0.212);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 999;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
  border-bottom: 1px solid rgb(221, 215, 215);
}

.logo h3 {
  margin: 0;
}

.logo_text {
  position: relative;
  display: inline-block;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(252, 255, 47);
  z-index: -1;
}

.menu {
  width: 25px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.menu_bar {
  width: 100%;
  height: 2px;
  background-color: var(--light-black);
}

.nav {
  display: none;
  padding: 1em 0;
}

.nav.open {
  display: block;
}

.nav_link {
  display: block;
  padding: 0.3em 0;
  color: var(--light-black);
  border-radius: 4px;
}

.nav_link:hover {
  opacity: 0.8;
  background-color: var(--white);
}

.intro {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light-black);
}

.section {
  padding: 7em 0 4em 0;
}

.section h1 {
  margin-bottom: 0.5em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0.5em 0;
}

li {
  font-size: 10px;
  padding: 0.3em 0.8em;
  margin: 0.5em 0.5em 0.5em 0;
  background-color: var(--primary-light-blue);
  color: var(--white);
  font-weight: bold;
}

.col_img img {
  border-radius: 6px;
  box-shadow: 5px 5px 30px 0 rgb(226, 218, 218);
  margin-bottom: 2em;
}

.about,
.projects,
.blogs,
.contact {
  background: rgba(255, 255, 255, 0.363);
  backdrop-filter: blur(20px);
  padding: 1em;
  border-radius: 4px;
  position: relative;
  z-index: 2;
}

.tabs {
  display: flex;
  background-color: rgb(251, 248, 248);
  position: relative;
  border-radius: 6px 6px 0 0;
}

.tab {
  user-select: none;
  flex-grow: 1;
  text-align: center;
  padding: 0.65em;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  animation: fade-in 0.2s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* .tab.active {
  border: 1px solid red;
} */

.active-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  /*width should depend on 100/no. of tabs*/
  width: 50%;
  height: 3px;
  background-color: rgb(147, 97, 238);
  transition: all 0.2s ease-in-out;
}

.content {
  padding: 1em;
  display: none;
  animation: fade-in 0.3s ease-in-out;
}

.content.active {
  display: block;
}

.card {
  position: relative;
  z-index: 10;
  background-color: var(--white);
  margin: 1.5em 0;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgb(243, 238, 238);
  transition: all 0.3s linear;
}

.card:hover {
  box-shadow: 0 0 20px 0 rgb(216, 205, 205);
}

.card_img {
  height: 200px;
}

.card_img img {
  width: 100%;
  height: 100%;
}

.card_desc {
  padding: 1em;
}

.cta_container {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all_projects {
  margin: 2em auto;
}

.cta {
  font-size: 0.8em;
  width: 45%;
  text-align: center;
  padding: 0.5em 1em;
  color: var(--white);
  background-color: var(--primary-light-blue);
  border: 1px solid var(--primary-light-blue);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.cta:hover {
  background-color: var(--hover-blue);
  border: 1px solid var(--hover-blue);
  box-shadow: 0 5px 20px 0 rgb(168, 157, 157);
}

.cta_rev {
  background-color: #fff;
  color: var(--primary-light-blue);
}

.cta_more {
  width: 150px;
}

.cta_rev:hover {
  color: var(--white);
}

.blog {
  background-color: var(--white);
  padding: 1em;
  margin: 0.5em 0;
  border-radius: 4px;
  color: var(--light-black);
  transition: all 0.4s ease;
  box-shadow: 0 0 10px 0 rgb(241, 234, 234);
}

.blog:hover {
  color: var(--white);
  background-color: var(--primary-light-blue);
}

.contact .col {
  margin: 1em 0;
}

.form {
  width: 100%;
  background-color: var(--white);
  padding: 1em;
  border-radius: 4px;
  box-shadow: 5px 0 10px rgb(245, 241, 241);
}

.form_control:not(.cta) {
  width: 100%;
  display: block;
  padding: 0.6em;
  font-size: 1em;
  margin: 0.5em 0;
  border: 2px solid rgb(236, 233, 233);
  outline: none;
  border-radius: 4px;
}

.form_control:focus:not(.cta) {
  border: 2px solid var(--hover-blue);
}

textarea {
  height: 120px;
  resize: none;
}

.form .cta {
  margin: 1em 0;
  width: 100%;
  padding: 0.6em;
}

.col_social {
  padding: 3em 2em;
}

.social_icons {
  font-size: 2em;
  color: var(--light-black);
  margin: 0 0.3em;
}

.social_icons:hover {
  color: var(--hover-blue);
}

.bg-text {
  margin: 0.2em 0;
  font-size: 3em;
}

.slogan {
  font-size: 1.2em;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

@media screen and (min-width: 560px) {
  .cards_container,
  .all_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    margin: 1.5em 0;
  }
}

@media screen and (min-width: 768px) {
  body::before {
    background: url("images/Surface\ Book\ -\ 1.jpg") no-repeat center center;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header_top {
    border: none;
  }
  .header_top .cta_rev {
    display: block;
  }
  .menu {
    display: none;
  }
  .nav {
    display: flex;
  }
  .nav_link {
    margin: 0 0.5em;
    padding: 0.2em 1em;
  }
  .about,
  .projects {
    padding: 2em;
  }
  .about {
    flex-direction: row-reverse;
  }
  .about,
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cards_container,
  .all_cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    margin: 0;
  }
  .col_img {
    max-width: 30%;
  }
  .col_img img {
    margin-bottom: 0;
  }
  .col_text {
    width: 50%;
  }
  .contact .col {
    width: 50%;
    margin: 0;
  }
}
