html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgb(245, 97, 97);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  line-height: 1.6;
}

a {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0.5em 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
}

p {
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

header {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  padding: 0.5em;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  margin-right: 0.5em;
  animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    box-shadow: 0 0 0 0 rgb(255, 255, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(250, 250, 250, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.logo p {
  font-weight: bold;
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 2em;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  background-color: #fff;
  height: 3px;
  transition: width 0.4s ease-in;
}

.link:hover::after {
  width: 100%;
}

.menu {
  width: 30px;
  height: 27px;
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  position: relative;
}

.hero h1::after {
  content: "Hello";
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primary-color);
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}

.down-btn {
  margin-top: 2em;
  font-size: 2em;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: #fff;
  animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
  0% {
    box-shadow: 0 0 0 0 rgb(245, 97, 97, 0.7);
  }

  70% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

section:not(.hero) {
  padding-top: 8em;
}

.about {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
}

.about__image {
  padding-bottom: 3em;
}

.about__image img {
  max-width: 300px;
  margin: 0 auto;
  height: 100%;
  display: block;
}

.about__content {
  padding: 2em;
}

.heading {
  font-size: 2.5em;
  margin-bottom: 1em;
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}
.heading {
  grid-column: 1/4;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(235, 230, 230);
}

.card:hover {
  box-shadow: 0 0 30px rgb(211, 196, 196);
}

.card__content {
  padding: 1em;
}

.card__tech {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 0;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

.card__tech p {
  font-size: 10px;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  padding: 3px 6px;
}

.about__content .card__tech p {
  font-size: 12px;
  padding: 0.4em 0.8em;
}

.card__title {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__desc p {
  font-size: 0.9em;
}

.card__img {
  height: 200px;
  aspect-ratio: 75%;
}

.card__img img {
  width: 100%;
  height: 100%;
}

.contact {
  margin-top: 5em;
  background-color: var(--primary-color);
}

.contact h3 {
  color: #fff;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  padding: 0.7em 1em;
  background-color: #fff;
  margin: 1em;
  color: var(--primary-color);
  border-radius: 50%;
}

.social__link:hover {
  animation: pulse-white 2s infinite;
}

.bg-text {
  font-size: 8em;
  line-height: 1;
  margin: 0.2em 0;
}

.md-text {
  font-size: 2em;
}

@media (max-width: 700px) {
  .menu {
    display: flex;
  }
  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgb(245, 97, 97);
    border-top: 1px solid rgb(223, 150, 150);
    transform: translateY(-150%);
    transition: transform 0.3s ease-in-out;
  }
  nav.open {
    transform: translateY(0);
  }
  .link {
    width: 100%;
    margin: 0 auto;
    margin: 0;
    padding: 0.5em 5%;
  }
  nav a:hover {
    background-color: rgb(48, 45, 45);
  }

  .about {
    grid-template-columns: 1fr;
  }
  .about__image {
    padding-bottom: 0;
  }

  .about__image img {
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }

  .about__content {
    padding: 0;
    text-align: center;
  }

  .heading {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .about .heading {
    grid-column: 1/1;
  }

  .about__content .card__tech {
    padding: 1em 0;
    justify-content: center;
  }
}

@media (max-width: 560px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }

  .projects .heading {
    grid-column: 1/1;
  }
  .bg-text {
    font-size: 6em;
  }
  .md-text {
    font-size: 1.7em;
  }
}
